[submodule "submodules/bx"]
	path = submodules/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "submodules/Chipmunk2D"]
	path = submodules/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
